<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryNest"
        tools:targetApi="31">
        <activity
            android:name=".ReportIssue"
            android:exported="false" />
        <activity
            android:name=".ComplaintSection"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Payment_Method"
            android:exported="false" />
        <activity
            android:name=".PaymentPage"
            android:exported="false" />
        <activity
            android:name=".CreateOrder"
            android:exported="false" />
        <activity
            android:name=".OrderSummary"
            android:exported="false" />
        <activity
            android:name=".VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".User_Profile"
            android:exported="false" />
        <activity
            android:name=".UserRegistration"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".SecondSplashScreen"
            android:exported="false" />
        <activity
            android:name=".OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".UserSplashScreen"
            android:exported="true">

        </activity>
    </application>

</manifest>